
body{
	background-color: #2C75B0;
	margin-left: 25px auto;
	margin-right: 25px auto;
	width: 95%;
}


ul{
	list-style: none
}



li{
	
}


p{
	font-size: 16px;
	font-family: Lucida monospace;
}

h2 {
	border-bottom: 2px solid;
	color: #008BFF;
}

h3{
	color: #FF4444;
}


.puntillo{
 	border-bottom: 2px dotted;
	margin: 0px 60px 0px 10px;
	content: 0px 0px 0px 0px;
	text-decoration: none;
}

#presentacion{
	margin: 2% 2% 2%  2%;
	background-color: white;
	padding: 40px;
	border: solid 3px;
}

#trabajo{
	margin: 2% 2% 2%  2%;
	background-color: white;
	padding: 40px;
	border: solid 3px;
}

#portfolio{
	border: solid 3px;
	margin: 2% 2% 2%  2%;
	background-color: white;
	padding: 40px;
}

#formacion{
	margin: 2% 2% 2%  2%;
	background-color: white;
	padding: 40px;
	border: solid 3px;
}

#contenerdor-de-inf{
	margin-left: 25%;
	padding: 5px;
	border: solid 2px;
	background: white;
}

#Indice{
	float:left;
	width: 20%;
	height: 80%;

	background: #2C75B0;
	display:scroll;
	position:fixed;
}


#Fotoperfil{

 	margin-left: 50px;
 	margin-top: 50px;
}


.Info{
	width: 220px;
	padding: 3px;
 	border: solid 2px;
 	background: gray;	
 	margin: 5px;
 	border-radius: 15%;
}
 

#contenido{
	height: 500px;
}

.slider{
 
}
